*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
}
img{
    width: 100%;
}
header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #0b2239;
}
header .header-left{
    display: flex;
    align-items: center;
}
header .header-left .logo{
    width: 140px;
}
header .header-left nav{
    margin-left: 50px;
}
header .header-left nav ul{
    display: flex;
}
nav ul li a{
    display:  block;
    color: #cfd9e0;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
    color: #fff;
}
nav .login-signup{
    display: none;
}
header .login-signup{
    color: #cfd9e0;
    font-weight: bold;
}
header .login-signup a{
    display: inline-block;
    color: #0b2239;
    background-color: #4ad295;
    padding: 5px 12px;
    border-radius: 5px;
}
header .header-right .hamburger{
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}