body{
    background-color: #ffffff;
    color: #db6363;
    text-align: center;
}
.grid{
    
}
header{
 background-color: #ffffff;
  color: #dc6363;
  padding-top: 10px;
   margin-bottom: -20px;
}
.banner{
    background-color: #db6363;
     color: #ffffff;
      font-family: Poppins;
  font-size: 84px;
  font-weight: 300;
  letter-spacing: 3.7px;
  color: #ffffff;
   margin-bottom: -20px;
}
img{
    max-width: 100%;
}
.about{
     background-color: #f0f0f0;
  padding-bottom: 20px;
   margin-bottom: -20px;
}
.text{
    width: 50%;
    height: 100%;
    margin: auto;
    padding: auto;
     color: #2f2d2d;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}