body{
    background-color: #ffffff;
    color: #db6363;
    text-align: center;
}
.grid{
    
}
header{
 background-color: #ffffff;
  color: #dc6363;
  padding-top: 10px;
   margin-bottom: -20px;
}
.banner{
    background-color: #db6363;
     color: #ffffff;
}